<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.dao.MenuDao">
    <!-- 实例类和DB映射-->
    <resultMap id="BaseResultMap" type="com.yh.pojo.Menu">
        <id column="menu_id" property="menuId" jdbcType="INTEGER"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="menu_level" property="menuLevel" jdbcType="TINYINT"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Common_List">
        menu_id, menu_name, menu_level, parent_id, create_time, update_time
    </sql>

    <select id="queryListByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Common_List"></include>
        FROM yh_menu
        <!-- where标签智能，存在一个where条件时才插入where关键字。如果条件以and或者or开始，会自动去除 -->
        <where>
            <if test="menuName != null">
                menu_name = ${menuName}
            </if>
            <if test="menuLevel != null">
                AND menu_level = ${menuLevel}
            </if>
            <if test="parentId != null">
                AND parent_id = ${parentId}
            </if>
        </where>
    </select>


</mapper>